# API FRED
FRED_API_KEY=
SERIES_BRENT_ID=DCOILBRENTEU
SERIES_DIESEL_FRED_ID=DDFUELNYH

# Arquivos
SHEET_PATH=data/planilha_unica.xlsx
HEARTBEAT_PATH=runtime/heartbeat.json

# E-mail
EMAIL_FROM=
EMAIL_TO_PRIMARY=
EMAIL_TO_SECONDARY=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_USE_TLS=true
EMAIL_SUBJECT_BASE=Acompanhamento Diesel & Petróleo
EMAIL_DAY=FRI

